@tailwind base;
@tailwind components;
@tailwind utilities;


#modal {
    z-index: 9999;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

:root {
    accent-color: #ff0000;
}